extends ./layout.jade
block contenido
	div(class="col-md-12 remove-float center-block text-center big-top-space")
		h1 Bienvenidos 
		a(href="/login" class="right-space") Iniciar sesión
		a(href="/singup" class="right-space") Registrar
