doctype html
html(lang="es")
	head
		title  Formulario express
		meta(charset="utf-8")
		link(href="/css/bootstrap.min.css" rel="stylesheet")
		link(href="/csspublic/app.css" rel="stylesheet")
	body
		block contenido
