extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block mid-top-space")
		h1 LOGIN
		form(action="/sessions",method="POST")
			div(class="form-group")
				label(for="email") Email
				input(type="text" name="email" placeholder="Email@email.com" id="email" class="form-control")
			div(class="form-group")
				label(for="pw") Clave
				input(type="password",name="pw",placeholder="******",id="pw" class="form-control")
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					input(type="submit",name="login",value="Login" class="btn btn-info" class="form-control") 
				div(class="col-xs-12 col-sm-6 text-right")
					a(href="/singup") No estoy registrado
