extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block mid-top-space")
		h1 LOGIN
		form(action="/users",method="POST")
			div(class="form-group")
				label(for="email") Nombre de Usuario
				input(type="text" name="username" placeholder="Nombre de Usuario" id="username" class="form-control")
			div(class="form-group")
				label(for="email") Email
				input(type="text" name="email" placeholder="Email@email.com" id="email" class="form-control")
			div(class="form-group")
				label(for="pw") Clave
				input(type="password",name="pw",placeholder="******",id="pw" class="form-control")
			div(class="form-group")
				label(for="pw") Confirma clave
				input(type="password",name="password_confirmation",placeholder="******",id="password_confirmation" class="form-control")
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					input(type="submit",name="registrar",value="Registrarme" class="btn btn-info" class="form-control")
				div(class="col-xs-12 col-sm-6 text-right")
					a(href="/login") Ingresar


