extends ../../layout.jade
block contenido
	div(class="col-md-8 remove-float center-block mid-top-space")
		h1 Cargar nueva imagen
		form(action="/imagenes",method="POST")
			div(class="form-group")
				label(for="titulo") Titulo
				input(type="text" name="titulo" placeholder="Titulo de la imagen" id="titulo" class="form-control")
			div(class="form-group")
				label(for="file") Imagen
				input(type="file",name="file",id="file" class="form-control")
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					input(type="submit",name="login",value="Login" class="btn btn-info" class="form-control") 
